@import "../colors.scss";
.container {
}
.albumForm {
  .formContainer {
    box-shadow: 1rem 1rem 0rem black;
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    height: 15rem;
    gap: 1.5rem;
    margin-bottom: 2rem;

    .buttonContainer {
      .Dropdownbutton {
        border-radius: 0.3rem;
        border: none;
        background-color: $brownish;
        color: white;
        font-size: 1rem;
        padding: 1rem 2rem;
      }
    }
  }
}

.vinylContainer {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .albumForm {
    .formContainer {
      width: 60%;
    }
  }
}

@media screen and (max-width: 860px) {
  .vinylContainer {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .albumForm {
    .formContainer {
      box-shadow: none;
      width: 100%;
      margin-bottom: 0rem;
    }

    margin-top: 5.25rem;
  }

  .vinylContainer {
    width: 100%;
  }
}
