@import "../colors.scss";
.formContainer {
  width: 60%;
  margin: 0 auto;
  .form {
    background-color: $lightYellow;
    margin: 3rem auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1rem 1rem 0rem black;

    .loadingForm {
      margin: 0 auto;
      margin-top: -4rem;
      margin-bottom: -2.25rem;
    }
    .successMsg {
      margin: 0 auto;
      margin-top: -3.25rem;
      margin-bottom: -0.98rem;
    }

    .errorBox p {
      margin: 0;
      color: red;
      margin-left: 1rem;
      margin-top: -0.5rem;
    }

    input {
      padding: 1rem;
      border-radius: 0.4rem;
      font-size: 1.2rem;
      font-family: "Be Vietnam Pro";
    }
    textarea {
      padding: 1rem;
      height: 15rem;
      font-size: 1.2rem;
      resize: none;
      font-family: "Be Vietnam Pro";
    }

    button {
      width: 30%;
      margin: 0 auto;
    }
  }
}

.invalid {
  color: red;
  background: #ffd1d1;
}

@media screen and (max-width: 700px) {
  .formContainer {
    padding-top: 2.25rem;
    width: 100%;

    .form {
      margin-bottom: 0;
      button {
        width: 40%;
        font-size: 1rem;
      }
    }
  }
}
