@import "../colors.scss";

.footer {
  padding-top: 1.8rem;
  background-color: $darkgrey;
  color: white;
  height: 100%;
  .line {
    width: 25rem;
    margin: 0 auto;
    border-top: 2px solid white;
    border-radius: 6.25rem;
  }
  .main {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
    img {
      margin: 0 auto;
      padding: 1.25rem;
      width: 4.375rem;
      height: 4.375rem;
      filter: invert(100%);
    }
    ul {
      display: grid;
      grid-template-columns: 1fr;
      list-style: none;
      gap: 1rem;
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
        font-size: 1.4rem;
        color: white;
      }
    }
  }
  .socials {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      margin-left: -2.375rem;
      svg {
        fill: white;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    .line {
      width: 10rem;
    }
    .socials {
      svg {
        width: 2rem;
      }
    }
    .main {
      grid-template-columns: 1fr 1fr;
      padding: 0rem 3rem;

      img {
        margin: 0;
        width: 3rem;
        height: 3rem;
      }
      ul {
        padding: 1rem;
        a {
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
