@import "../colors.scss";
.active {
  color: red;
}

.navbar {
  width: 100%;
  position: static;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  color: white;

  img {
    filter: invert(100%);
    width: 3.75rem;
    height: 3.75rem;
    padding: 0.625rem;
  }
  .menuList {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    position: relative;
    a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.25rem;
    }
  }

  .btn {
    position: absolute;
    right: 3.125rem;
    top: 1.45rem;
    width: 2.5rem;
    display: none;
    border: none;
    background-color: transparent;
    .hamburger {
      .ham-enter {
        opacity: 0;
        transform: scale(0);
      }
      .ham-enter-active {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 1;
        transform: scale(1);
      }
      .ham-exit {
        opacity: 1;
        transform: scale(1);
      }
      .ham-exit-active {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        transform: scale(0);
      }

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -2.6rem;
        top: -2.95rem;
        height: 2.1rem;
        width: 2rem;
        margin: 3rem;
        cursor: pointer;
      }
      .threeLines {
        position: relative;
        fill: white;
        width: 2rem;
        height: 2rem;
      }
      .crossSVG {
        position: relative;
        fill: white;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

.scrollBar {
  transition: background-color 1s;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: $magenta;
}

@media screen and (max-width: 700px) {
  .navbar {
    transition: background-color 1s;
    position: fixed;
    background-color: $red;
    flex-direction: column;
    height: auto;
    width: 100%;
    .btn {
      display: block;
    }

    .menuList {
      flex-direction: column;
      margin-top: -2.5rem;
      margin-left: -1.875rem;
      li:nth-child(1) {
        border-top: none;
      }
      li {
        padding: 0.625rem;
        width: 100%;
        border-top: 1px solid black;
        text-align: center;
        margin-right: 0;
      }
    }
  }
}
