.singleDisk {
  height: 18.75rem;
  width: 18.75rem;
  position: relative;

  .tags {
    color: white;
    h1 {
      font-size: 1.5rem;
      margin-top: 0.3rem;
      margin-bottom: -0.625rem;
    }
    p {
      font-size: 1.25rem;
    }
  }

  .vinylCover {
    height: 12.5rem;
    width: 12.5rem;
    background-color: brown;
    position: relative;
    z-index: 2;
    &:hover + .vinylMainColor .vinylImage {
      transform: translateX(5rem) rotate(90deg);
    }
    &:hover + .vinylMainColor .vinylDiskImage {
      transform: translateX(5rem) rotate(90deg);
    }
  }
  .vinylMainColor {
    .vinylImage {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 16.25rem;
      height: 12.5rem;
      transition: transform 1s;
      &:hover {
        transform: translateX(5.625rem) rotate(90deg);
      }
      &:hover + .vinylDiskImage {
        transform: translateX(5.625rem) rotate(90deg);
      }
    }
    .vinylDiskImage {
      background-color: white;
      height: 6.875rem;
      width: 6.875rem;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 3.125rem;
      left: 4.375rem;
      transition: transform 1s;
      &:hover {
        transform: translateX(5.625rem) rotate(90deg);
      }
    }
  }
}
