@import "../../colors.scss";

.container {
  max-width: 100%;
  // min-height: 60vh;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: $brownish;
}
@media screen and (max-width: 900px) {
  .container {
    padding-top: 1.25rem;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 768px) {
    .container {
      padding-top: 1.25rem;
      grid-template-columns: 1fr;
    }
  }
}
