@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Noto+Serif&family=Qwitcher+Grypen&display=swap");

$darkgrey: #1a1a1d;
$lightgrey: #4e4e50;
$brownish: #6f2232;
$magenta: #950740;
$red: #c40353e0;
