@import "./colors.scss";

body {
  overflow-y: scroll;
  margin: 0;
  font-family: "Be Vietnam Pro";
  background-color: black;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
